---
layout: default
---

{% assign nUpcoming = 0 %}
{% assign nPast = 0 %}
{% assign curDate = site.time | date: '%s' %}
{%- for post in site.posts -%}
  {% assign postStartDate = post.date | date: '%s' %}
  {%- if postStartDate >= curDate -%}
    {% assign nUpcoming = nUpcoming | plus: 1 %}
  {%- else -%}
    {% assign nPast = nPast | plus: 1 %}
  {%- endif -%}
{%- endfor -%}

<div class="home-header">
  <div class="wrapper">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <br/>
  </div>
</div>
<div class="home-upcoming">
  <div class="wrapper">
    {%- if nUpcoming > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Upcoming talks" }}</h2>

      <ul class="post-list speaker-list">
        {%- for post in site.posts reversed -%}
          {% assign postStartDate = post.date | date: '%s' %}
          {% if postStartDate >= curDate %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y, %H:%M (CET)" -%}
            <li>
              <div class="person-list-image">
                {% if post.image %}
                  <img src="{{ post.image }}" />
                {% endif %}
              </div>
              <div class="person-list-description">
                  <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h2>
                  {% if post.datenotset %}
                  {%- assign date_format = site.minima.date_format | default: "%Y" -%}
                  {% endif %}
                  <h3>{{ post.date | date: date_format }}</h3>
                  {% if post.talk %}
                    <h3><b>Title:</b> {{ post.talk | escape }}</h3>
                  {% endif %}
                  {% if post.blurb %}
                    <p>{{ post.blurb }}</p>
                  {% endif %}
                  {% if post.zoom %}
                    <a href="{{ post.zoom }}">Register here</a>
                    {% if post.youtube %}
                    | 
                    {% endif %}
                  {% endif %}
                  {% if post.youtube %}
                    <a href="{{ post.youtube }}">Watch here</a>
                  {% endif %}
              </div>
            </li>
            <li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
<div class="home-previous">
  <div class="wrapper">
    {%- if nPast > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Previous talks" }}</h2>

      <ul class="post-list speaker-list">
        {%- for post in site.posts -%}
          {% assign postStartDate = post.date | date: '%s' %}
          {% if postStartDate < curDate %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <li>
              <div class="person-list-image">
                {% if post.image %}
                  <img src="{{ post.image }}" />
                {% endif %}
              </div>
              <div class="person-list-description">
                  <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h2>
                  {% if post.datenotset %}
                  {%- assign date_format = site.minima.date_format | default: "%Y" -%}
                  {% endif %}
                  <h3>{{ post.date | date: date_format }}</h3>
                  {% if post.talk %}
                    <h3><b>Title:</b> {{ post.talk | escape }}</h3>
                  {% endif %}
                  {% if post.blurb %}
                    {{ post.blurb }}
                  {% endif %}
              </div>
            </li>
            <li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
